body{
    margin: 0px;
    padding: 0px;
    background-color:#FFFFFF;
}

.header {
    font-family: 'Delius', cursive;
    color: rgb(255, 255, 255);
    text-align: center;
    width: 100%;
    height: 700px;
    position: fixed;
    z-index: 1;
    padding-top: 20px;
    background-image: url(https://images.unsplash.com/photo-1551130598-e8f714182b2e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1527&q=80);
    background-position: center;
  }

.header h1 {
    font-size: 70px;
    margin: 10px;
}


.header a{
    line-height: 1000px;
    border-radius:25px;
    padding: 20px;
    margin: 10px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;
    background-color: #724B3B;
}
.header a:hover{
    background-color: #946434;
}