body{
    margin: 0 auto;
    padding: 0px;
    background-color:#FFFFFF;
    text-align: center;
    width: 80%;
}
a {
    line-height: 100px;
    text-decoration: none;
    color: #424242;
}

div{
    border-bottom: 2px solid black;
    font-family: 'Overpass', sans-serif;
}

img {
    max-width: 500px;
    max-height: 500px;
    border: 1px solid #EEE0CB;
}

li{
    display: inline;
    align-items: center;
    padding: 25px;  
}

h1 {
    font-size: 50px;
}
p {
    width: 60%;
    margin: 20px auto;
    font-size: 18px;
}

.navbar {
    text-align: center;
}

.choice {
    font-family: 'Overpass', sans-serif;
}

.logo  {
    font-size: 50px;
    color: black;
    font-family: 'Bebas Neue', cursive;
}
