body{
    max-width: 1000px;
    width:80%;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    font-family: 'Overpass', sans-serif;
}
a{
    text-decoration: none;
}
.navbar {
    margin: auto;
    border-bottom: 2px solid black;
}
.navbar ul{
    margin: 0;
    padding: 0;
}

.navbar li{
    display: inline-block;
    align-items: center;
    padding: 20px;  
    position: relative;
}
.navbar a{  
    color: #424242;
}
.navbar a:hover{
    color: #E8A652;
}
.choice::before{
    content: '';
    display: block;
    height: 5px;
    background-color: #444;
    position: relative;
    top:-10px;
    width: 0%;
}
.choice:hover::before{
    width:100%;
    justify-content: center;
    transition: all ease-in-out 350ms;
}
.navbar .logo{
    font-size: 50px;
    color: black;
    font-family: 'Bebas Neue', cursive;
}
.container img {
    max-width: 500px;
    max-height: 500px;
    border: 1px solid #EEE0CB;
}
h1 {
    font-size: 50px;
}
h2{
    text-align: left;
    padding: 10px;
}

.intro {
    text-align: center;
    width: 60%;
}
p {
    width: 80%;
    margin: 20px auto;
    font-size: 18px;
    text-align:left;
}
.container-1{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
.container-1 div{
    border: 1px #B2967D solid;
    height: 600px; 
    width: 450px;
    margin: 10px;
    padding: 10px;
    flex-basis:25%;
}
.container-1 div:hover{
    transition: all ease-in-out 350ms;
    background-color:#EEE4E1;
}
.container-1 img{
    max-height: 400px;
}
.container-1 h4{
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    margin: 20px;
    color: #000000;
}
.container-1 p{
    color: #424242;
}
.recipe {
    text-align: left;
    font-family: 'Overpass', sans-serif;
    font-display: auto;

}
.recipe li{
    font-size: 18px;
}
table {
    width:80%;
    margin: 0 auto;
    font-size: 15px;
    text-align: center;
}
th, td {
    border-bottom: 1px solid #ddd;
}
.circle {
    height: 200px;
    width: 200px;
    object-fit: cover;
    float:right;
    margin: 10px;
    border-radius:50%;
}
#leftoval {
    height: 450px;
    float:left;
    margin: 15px;
    border-radius:50%;
}
#rightoval {
    height: 450px;
    float:right;
    margin: 15px;
    border-radius:50%;
}
.banner {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin:20px;
}